@use "../utils/mixin" as *;
@use "../variables/color" as *;

.card-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width:1200px) {
    display: inline-flex;
    width: calc(100% - 388px);
    gap: 20px;

    .top , .bottom {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      gap: 20px;
      >div {
        width: calc((100% / 3));
      }
      .card-box {
    
        height: min-content;
      }
      .card-group {
        .card-box {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }

 
  .card-box {
    position: relative;
    width: 100%;
    height: auto;
    padding: 21px 20px;
    border-top: 3px solid $green;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-boxs;
    margin-bottom: 12px;

    @media (min-width:1024px) {
      
      padding: 36px 20px 30px;
      margin-bottom: 20px;
    }
    
    .sub-title {
      @include fontStyle(15px, 100%, 500);
      color: $gray;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .title-area {
        .main-title {
          @include fontStyle(22px, 100%, 700);
          color: $black;
          margin-bottom: 4px;
        }

        @media (min-width:1024px) {
          
          padding-bottom: 28px;
        }

        @media (min-width:1600px){
          display: flex;
          align-items: end;
          gap: 10px;

          .main-title {
            margin-bottom: 0;
          }
        }
      }
      .more-btn {
        display: inline-block;
        font-size: 0;
        transition: all 0.3s;
        @include bgImg(36px, 36px, "icon_arrow_bottom.svg");
  
        &.on {
          transform: rotate(180deg);
          transition: all 0.3s;
        }
  
  
      @media (min-width:1024px) {
       display: none;
      }
      }
    }
  
    .cont-area {
      opacity: 0;
      height: 0;
      display: none;
      transition: all 0.3s;
  
      &.on {
        display: block;
        opacity: 1;
        height: auto;
        transition: all 0.3s;
      }
  
      @media (min-width:1024px) {
        display: block;
        height: auto;
        opacity: 1;
        border-top: 1px solid #222;
      }
    }
  
    .cont {
      padding: 16px 0;
      @include fontStyle(16px, 140%, 500);
      color: $black;
      border-bottom: 1px solid #eee;
  
      a {
        margin-top: 10px;
      }
      &-title {
        width: 80%;
      }
      .sub-title {
        display: inline-flex;
        align-items: center;
  
        span{
          &:first-child{
            &:after {
              content: '|';
              display: inline-block;
              font-size: 14px;
              color: $gray;
              margin: 0 5px;
            }
          }
        }
      }
      &-middle-title {
        margin-top: 5px;
        font-weight: 700;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

     
    }
  
    .notice {
      width: 100%;
      margin-top: 10px;
      padding: 12px;
      text-align: center;
      background-color: $yellow;
  
      p {
        @include fontStyle(14px, 140%, 600);
      }
    }
  
    &.download {
      .title{
        position: relative;
        .title-area {
          padding-left: 36px;
    
          .main-title {
            @include fontStyle(22px, 100%, 700);
            color: $black;
          }
       
    
          @media (min-width: 1500px) {
            display: flex;
            align-items: end;
            gap: 10px;
          }
        }
        .icon-download{
          font-size: 0;
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-16px);
          left: 0;
          @include bgImg(28px, 28px, "icon_download.svg");

          @media (min-width:1024px) {
            top: 50%;
          transform: translateY(-28px);
          }
        }
      }
  
      .cont {
        &.download {
          position: relative;
          padding-left: 36px;
          .icon-download {
            font-size: 0;
            display: block;
            position: absolute;
            top: 50%;
              transform: translateY(-26px);
            
            left: 0;
            @include bgImg(28px, 28px, "icon_download.svg");

            @media (min-width:1024px) {
              top: 50%;
              transform: translateY(-24px);
            }
          }
          .icon-viewer {
            font-size: 0;
            display: block;
            position: absolute;
            top: 4px;
            right: 0;
            @include bgImg(28px, 28px, "icon_arrow_right.svg");
            z-index: 10;
          }
        }
      }
    }
  }

 
}

.inquiry-box {
  width: 24.15%;
  height: min-content;
  background-color: #000;

  .title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 37px 20px 21px;
    @include fontStyle(22px, 100%,700);
    color:$white;

    &:before {
      content: '';
      display: block;
      @include bgImg(24px,24px ,'icon_consult.svg');
    }
  }

  .input-box {
    padding: 20px 20px 0 20px;

    .input-wrap {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 30px;
      }
    }
    .agree-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .button-box{
        margin: 0;
      }
    }

    .button-box.consult {
      margin: 28px 0 ;
    }
  }

  .text-box {
    width: 100%;
    background: #FFC800;
    padding: 10px 0 20px;
    text-align: center;

    span {
      @include fontStyle(16px,100%,500);
      color:#000;
    }

    p {
      @include fontStyle(24px,100%,700);
      color:#000;
    }
  }
}

