@use '../utils/mixin' as *;
@use '../variables/color' as *;

.pc {
  display: none;

  @media (min-width:1024px){
    display: block;
  }
}

.mo {
  display: block;

  @media (min-width: 1024px) {
    display: none;
  }
}

main {
  position: relative;
  .sector {
    &-visual {
      position: relative;
      width: 100%;
      height: 170px;
      @include bgImg(100%, 170px,'main_bg.png');

      .visual-title {
        position: absolute;
        top: 40px;
        left: 20px;
        @include fontStyle(18px, 150%, 700);
        color:white;
        text-align: left;

       
      }
      @media(min-width:1024px) {
        height: 344px;
        .visual-title {
          top: 65px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        }
      }
    }

    &-content {
      background-color: #D7D7D7;
      padding-bottom: 86px;
      .inner {
        position: relative;
        width: calc(100% - 40px);
        // height: calc(100vh - 401px);
        margin: 0 auto;
        top: -36px;

        @media (min-width:1024px) {
          top: -98px;
        }

      .button-box {
        margin-top: 50px;
      }

   
      }
    }

  }
}
