@charset "UTF-8";
body {
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/assets/font/Pretendard-Bold.woff") format("woff"), url("/assets/font/Pretendard-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-style: normal;
  src: url("/assets/font/Pretendard-SemiBold.woff") format("woff"), url("/assets/font/Pretendard-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("/assets/font/Pretendard-Medium.woff") format("woff"), url("/assets/font/Pretendard-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("/assets/font/Pretendard-Regular.woff") format("woff"), url("/assets/font/Pretendard-Regular.ttf") format("truetype");
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-family: Pretendard, "맑은고딕", Arial, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -o-text-size-adjust: none; /* 오페라 구버전 */
  -webkit-appearance: none;
  -webkit-overflow-scrolling: auto;
  box-sizing: border-box;
}

hr {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  line-height: 1;
  -ms-overflow-style: none;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

table caption {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input[type=number],
input[type=password],
input[type=tel],
input[type=text], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type=checkbox],
input[type=radio] {
  margin: 0;
  padding: 0;
  border: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

textarea {
  margin: 0;
  padding: 12px;
  font-family: inherit;
  font-size: 14px;
  color: inherit;
  background-color: #fff;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  line-height: 19.6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea::placeholder {
  font-size: 14px;
}

textarea[type=text],
textarea[type=password],
textarea[type=email],
textarea[type=search] {
  width: 100%;
}

select {
  margin: 0;
  padding: 12px;
  font-family: inherit;
  font-size: 14px;
  background-color: #fff;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  line-height: 19.6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  font-family: inherit;
  background: #fff url(/assets/image/ico-arrow-bottom.svg) no-repeat 90% 50% !important;
  background-size: 16px 16px !important;
}

option {
  font-size: 14px;
}

select::placeholder {
  font-size: 14px;
}

/* 기본 placeholder 스타일 */
select option[value=""][disabled][selected] {
  background-color: #f5f5f5;
}

select option {
  background-color: #fff;
}

/* 선택된 옵션 스타일 */
select:focus option:checked {
  color: #3498db;
  background-color: #ecf0f1;
}

.btn {
  display: inline-block;
  width: 100%;
}
.btn.default {
  background-color: rgba(0, 75, 85, 0.1);
  padding: 10px 0;
  border-radius: 10px;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.3px;
  font-weight: 500;
  color: #004B55;
  text-align: center;
  border: 1px solid transparent;
}
.btn.default:hover {
  border: 1px solid #004B55;
}
.btn.consult {
  padding: 21px 0;
  background-color: #004B55;
  border-radius: 30px;
}
.btn.consult span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #fff;
}
.btn.consult span:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/icon_consult.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn.consult:hover {
  background-color: #008EA1;
}
.btn.agree-popup {
  width: 77px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 4px 0;
  text-align: center;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #fff;
}

.card-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .card-area {
    display: inline-flex;
    width: calc(100% - 388px);
    gap: 20px;
  }
  .card-area .top, .card-area .bottom {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    gap: 20px;
  }
  .card-area .top > div, .card-area .bottom > div {
    width: 33.3333333333%;
  }
  .card-area .top .card-box, .card-area .bottom .card-box {
    height: min-content;
  }
  .card-area .top .card-group .card-box, .card-area .bottom .card-group .card-box {
    width: 100%;
    max-width: 100%;
  }
}
.card-area .card-box {
  position: relative;
  width: 100%;
  height: auto;
  padding: 21px 20px;
  border-top: 3px solid #004B55;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-boxs;
  margin-bottom: 12px;
}
@media (min-width: 1024px) {
  .card-area .card-box {
    padding: 36px 20px 30px;
    margin-bottom: 20px;
  }
}
.card-area .card-box .sub-title {
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.3px;
  font-weight: 500;
  color: #999;
}
.card-area .card-box .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-area .card-box .title .title-area .main-title {
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.44px;
  font-weight: 700;
  color: #222;
  margin-bottom: 4px;
}
@media (min-width: 1024px) {
  .card-area .card-box .title .title-area {
    padding-bottom: 28px;
  }
}
@media (min-width: 1360px) {
  .card-area .card-box .title .title-area {
    display: flex;
    align-items: end;
    gap: 10px;
  }
  .card-area .card-box .title .title-area .main-title {
    margin-bottom: 0;
  }
}
.card-area .card-box .title .more-btn {
  display: inline-block;
  font-size: 0;
  transition: all 0.3s;
  width: 36px;
  height: 36px;
  background-image: url("/assets/images/icon_arrow_bottom.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-area .card-box .title .more-btn.on {
  transform: rotate(180deg);
  transition: all 0.3s;
}
@media (min-width: 1024px) {
  .card-area .card-box .title .more-btn {
    display: none;
  }
}
.card-area .card-box .cont-area {
  opacity: 0;
  height: 0;
  transition: all 0.3s;
}
.card-area .card-box .cont-area.on {
  opacity: 1;
  height: auto;
  transition: all 0.3s;
}
@media (min-width: 1024px) {
  .card-area .card-box .cont-area {
    height: auto;
    opacity: 1;
    border-top: 1px solid #222;
  }
}
.card-area .card-box .cont {
  padding: 16px 0;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
  font-weight: 500;
  color: #222;
  border-bottom: 1px solid #eee;
}
.card-area .card-box .cont a {
  margin-top: 10px;
}
.card-area .card-box .cont .sub-title {
  display: inline-flex;
  align-items: center;
}
.card-area .card-box .cont .sub-title span:first-child:after {
  content: "|";
  display: inline-block;
  font-size: 14px;
  color: #999;
  margin: 0 5px;
}
.card-area .card-box .cont-middle-title {
  margin-top: 5px;
  font-weight: 700;
}
.card-area .card-box .cont:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.card-area .card-box .notice {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  text-align: center;
  background-color: rgb(255, 246, 233);
}
.card-area .card-box .notice p {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.28px;
  font-weight: 600;
}
.card-area .card-box.download .title {
  position: relative;
}
.card-area .card-box.download .title .title-area {
  padding-left: 36px;
}
.card-area .card-box.download .title .title-area .main-title {
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.44px;
  font-weight: 700;
  color: #222;
}
@media (min-width: 768px) {
  .card-area .card-box.download .title .title-area {
    display: flex;
    align-items: end;
    gap: 10px;
  }
}
.card-area .card-box.download .title .icon-download {
  font-size: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-image: url("/assets/images/icon_download.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-area .card-box.download .cont.download {
  position: relative;
  padding-left: 36px;
}
.card-area .card-box.download .cont.download .icon-download {
  font-size: 0;
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 28px;
  height: 28px;
  background-image: url("/assets/images/icon_download.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-area .card-box.download .cont.download .icon-viewer {
  font-size: 0;
  display: block;
  position: absolute;
  top: 4px;
  right: 0;
  width: 28px;
  height: 28px;
  background-image: url("/assets/images/icon_arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.inquiry-box {
  width: 24.15%;
  height: min-content;
  background-color: #000;
}
.inquiry-box .title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 37px 20px 21px;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.44px;
  font-weight: 700;
  color: #fff;
}
.inquiry-box .title:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/icon_consult.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inquiry-box .input-box {
  padding: 20px 20px 0 20px;
}
.inquiry-box .input-box .input-wrap {
  margin-bottom: 20px;
}
.inquiry-box .input-box .input-wrap:last-child {
  margin-bottom: 30px;
}
.inquiry-box .input-box .agree-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inquiry-box .input-box .agree-area .button-box {
  margin: 0;
}
.inquiry-box .input-box .button-box.consult {
  margin: 28px 0;
}
.inquiry-box .text-box {
  width: 100%;
  background: #FFC800;
  padding: 10px 0 20px;
  text-align: center;
}
.inquiry-box .text-box span {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.32px;
  font-weight: 500;
  color: #000;
}
.inquiry-box .text-box p {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.48px;
  font-weight: 700;
  color: #000;
}

.check-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.check-box input[type=checkbox] {
  background-color: transparent;
  position: relative;
}
.check-box input[type=checkbox] + label {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #fff;
}
.check-box input[type=checkbox]:checked:after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/icon_check_on.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222;
  border-radius: 4px;
  display: block;
  position: absolute;
  right: -2px;
  top: -2px;
  cursor: pointer;
  z-index: 2;
}

.input-wrap {
  position: relative;
}
.input-wrap input[type=text], .input-wrap textarea {
  width: 100%;
  padding: 41px 20px 12px;
  background-color: #efefef;
  border-radius: 8px;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #222;
}
.input-wrap input[type=text]:placeholder, .input-wrap textarea:placeholder {
  color: #d3d3d3;
}
.input-wrap input[type=text] + label, .input-wrap textarea + label {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
  font-weight: 700;
}
.input-wrap input[type=text] {
  height: 74px;
}
.input-wrap textarea {
  height: 186px;
}
.input-wrap label {
  position: absolute;
  top: 12px;
  left: 20px;
  z-index: 2;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #111;
}
.input-wrap.error input[type=text] {
  border: 2px solid #FF0000;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  background: white;
  padding: 35px 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 80%;
  max-width: 800px;
}
.modal .close {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}
.modal canvas {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.modal .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.26px;
  font-weight: 400;
}
.modal .controls button {
  padding: 8px 12px;
  border: none;
  background: #004B55;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.modal .controls button:hover {
  background: #008EA1;
}

.pc {
  display: none;
}
@media (min-width: 1024px) {
  .pc {
    display: block;
  }
}

.mo {
  display: block;
}
@media (min-width: 1024px) {
  .mo {
    display: none;
  }
}

main {
  position: relative;
}
main .sector-visual {
  position: relative;
  width: 100%;
  height: 170px;
  width: 100%;
  height: 170px;
  background-image: url("/assets/images/main_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .sector-visual .visual-title {
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: white;
  text-align: left;
}
@media (min-width: 1024px) {
  main .sector-visual {
    height: 344px;
  }
  main .sector-visual .visual-title {
    width: 100%;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 32px;
    line-height: 160%;
    letter-spacing: -0.64px;
    font-weight: 400;
  }
}
main .sector-content {
  background-color: #D7D7D7;
  padding-bottom: 30px;
}
main .sector-content .inner {
  position: relative;
  width: calc(100% - 40px);
  margin: 0 auto;
  top: -36px;
}
@media (min-width: 1024px) {
  main .sector-content .inner {
    top: -98px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 86%;
  }
}
main .sector-content .button-box.mo {
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 80px;
}

footer {
  width: 100%;
  padding: 24px 20px;
  background-color: #222;
}
footer h1 {
  width: 125px;
  height: 19px;
  margin-bottom: 30px;
}
footer p {
  font-size: 12px;
  line-height: 170%;
  letter-spacing: -0.24px;
  font-weight: 400;
  color: #fff;
}
footer .bottom {
  margin-top: 30px;
}
@media (min-width: 768px) {
  footer {
    padding: 45px 50px;
  }
  footer br {
    display: none;
  }
  footer .bottom {
    margin-top: 10px;
  }
}
@media (min-width: 1024px) {
  footer .inner {
    display: flex;
    align-items: center;
  }
  footer .inner h1 {
    width: 229px;
    height: 34px;
    margin-right: 100px;
  }
  footer .inner h1 a {
    width: 100%;
  }
  footer .inner h1 a img {
    width: 100%;
  }
  footer .inner .top {
    display: flex;
    align-items: start;
    gap: 100px;
  }
  footer .inner .top .company-right {
    margin-top: 30px;
  }
}

header {
  padding: 18px 20px;
  box-sizing: border-box;
}
header h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 135px;
  height: 20px;
}
header h1 a {
  font-size: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  header {
    padding: 18px 100px;
  }
}