@use "../utils/mixin" as *;
@use "../variables/color" as *;

.card-box {
  position: relative;
  width: 100%;
  padding: 20px 20px 30px 20px;
  border-top: 3px solid $green;
  border-radius: 4px;
  .sub-title {
    @include fontStyle(15px, 100%, 500);
    color: $gray;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

    .title-area {
      .main-title {
        @include fontStyle(22px, 100%, 700);
        color: $black;
      }
    }
    .more-btn {
      display: inline-block;
      font-size: 0;
      transition: all 0.3s;
      @include bgImg(36px, 36px, "icon_arrow_bottom.svg");

      &.on {
        transform: rotate(180deg);
        transition: all 0.3s;
      }


    @media (min-width:1024px) {
     display: none;
    }
    }
  }

  .cont-area {
    opacity: 0;
    height: 0;
    transition: all 0.3s;

    &.on {
      opacity: 1;
      height: auto;
      transition: all 0.3s;
    }

    @media (min-width:1024px) {
      height: auto;
      opacity: 1;
    }
  }

  .cont {
    padding: 16px 0;
    @include fontStyle(16px, 140%, 500);
    color: $black;
    border-bottom: 1px solid #eee;

    a {
      margin-top: 10px;
    }

    &-middle-title {
      margin-top: 5px;
      font-weight: 700;
    }
  }

  .notice {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    text-align: center;
    background-color: $yellow;

    p {
      @include fontStyle(14px, 140%, 600);
    }
  }

  &.download {
    .title{
      position: relative;
      .title-area {
        padding-left: 36px;
  
        .main-title {
          @include fontStyle(22px, 100%, 700);
          color: $black;
        }
     
  
        @media (min-width: 768px) {
          display: flex;
          align-items: end;
          gap: 10px;
        }
      }
      .icon-download{
        font-size: 0;
        display: block;
        position: absolute;
        top: 4px;
        left: 0;
        @include bgImg(28px, 28px, "icon_download.svg");
      }
    }

    .cont {
      &.download {
        position: relative;
        padding-left: 36px;
        .icon-download {
          font-size: 0;
          display: block;
          position: absolute;
          top: 4px;
          left: 0;
          @include bgImg(28px, 28px, "icon_download.svg");
        }
        .icon-viewer {
          font-size: 0;
          display: block;
          position: absolute;
          top: 4px;
          right: 0;
          @include bgImg(28px, 28px, "icon_arrow_right.svg");
        }
      }
    }
  }
}

